.statistic 
  .statistic-list
    each val in [1,2,3,4]
      .statistic-item
        .statistic-content
          .statistic-title
            p Product Statistics
          .statistic-icon
            ion-icon(name="chevron-forward-outline")
        .statistic-dropdown
          p 5 products have been added this month!