<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/gh/studio-freight/lenis@1.0.27/bundled/lenis.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- FONT -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;600;700&display=swap"rel="stylesheet">
    <script src="https://kit.fontawesome.com/e5ff98b392.js" crossorigin="anonymous"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <!-- GSAP -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/TweenMax.min.js"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="assets/css/app.css">
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"></script>
</head>
<body>
    <div>
        <div>
            <div class="container grid-cols-2 grid bg-detail rounded-box">
                <!-- BOX LEFT -->
                <div class="flex items-center justify-center">
                    <div class="bg-white w-fit p-24 mt-4">
                        <!-- TITLE -->
                        <div>
                            <h1>LOGO</h1>
                            <h1>LOGIN</h1>
                        </div>
                        <!-- EMAIL -->
                        <div>
                            <h1>Email</h1>
                            <input type="text" placeholder="CCC">
                        </div>
                        <div>
                            <h1>PASSWORD</h1>
                            <input type="text" placeholder="CCC">
                        </div>
                        <div>
                            <p>Forgot password</p>
                        </div>
                        <!-- EMAIL -->
                        <div></div>
                    </div>
                </div>
                <!-- BOX RIGHT -->
                <div class="w-4/4">
                    <div>
                        <img src="/layout/assets/img/89e31fb982e6d87f239196db2b3e9ccc copy 1.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    
     
</body>
<script src="assets/js/tailwind.js"></script>
</html>

