*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
select,
textarea {
  background-color: transparent;
  outline: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}

body {
  min-height: 100vh;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
}

.banner-container {
  background: url(../img/bg-banner.png) no-repeat 100%/cover;
}

input:focus ~ .input-text {
  color: blue;
  background-color: white;
  transform: translate(4px, -20px);
}

textarea:focus ~ .input-text {
  color: blue;
  background-color: white;
  transform: translate(4px, -20px);
}

.yourclass {
  display: grid;
  justify-content: flex-start;
  grid-auto-columns: 90%;
  grid-auto-flow: column;
  grid-gap: 1.5rem;
  overflow: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  scroll-snap-stop: always;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  -webkit-overflow-scrolling: touch;
  scroll-padding: 1rem;
  grid-template-columns: unset;
}

.yourclass::-webkit-scrollbar {
  display: none;
  width: 0;
}

.yourclass > * {
  scroll-snap-align: start;
}

.border-hover {
  border: 2px solid #302828;
}


#toast {
  position: fixed;
  z-index: 9999;
  top: 15px;
  right: 10px;
}

div,
p,
h1,
h2,
h3,
h4,
h5,
span {
  color: #302828;
}

/* HEADER */
.site-link_cart,
.site-link_heart,
.site-link_search {
  width: 26px;
  height: 26px;
}

.footer-show {
  transition: .3s ease;
}

.cate-laptop {
  background: url(../img/bg-lap.png) no-repeat 100%/cover ;
}

.cate-phone {
  background: url(../img/bg-phone.png) no-repeat 100%/cover ;
}

.cate-keyboard {
  background: url(../img/bg-keyboard.png) no-repeat 100%/cover ;
}

.cate-headphone {
  background: url(../img/bg-headphone.png) no-repeat 100%/cover ;
}

.cate-mouse {
  background: url(../img/bg-mouse.png) no-repeat 100%/cover ;
}

.cart-hide {
  translate: 100% 0%;
}

.nav-active-top {
  stroke-dashoffset: -81px !important;
  
}

.nav-active-middle {
  stroke-dasharray: 0.1px, 30px !important;
}

.nav-active-bottom {
  stroke-dashoffset: -6px !important;
}

.text-new-slider {
  width: 9ch;

}

.toast {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  padding: 18px 25px;
  font-size: 20px;
  color: black;
  border-radius: 5px;
  overflow: hidden;
  animation: showToast ease 3s forwards;
}

/* animtion for toast */
@keyframes showToast {
  0% {
    transform: translateX(100%);
  }
  25% {
    transform: translateX(-10%);
  }
  50% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes hideToast {
  0% {
    transform: translateX(0%);
  }
  25% {
    transform: translateX(-10%);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(200%);
  }
}
.toast.success {
  background-color: rgb(250, 250, 250);
  border-left: 6px solid green;
}

.cout-down {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom: 4px solid green;
  animation: loading ease 4s forwards;
}

/* animation for coutdown (border-bottom)*/
@keyframes loading {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}
.toast.success .cout-down {
  border-bottom: 4px solid green;
}

.toast i {
  font-size: 25px;
  margin-right: 10px;
}

.toast.error {
  background-color: rgb(254, 151, 151);
  border-left: 6px solid red;
}

.toast.error .cout-down {
  border-bottom: 4px solid red;
}

.text-toast {
  color: white !important;
  font-weight: 500;
}


/*# sourceMappingURL=app.css.map */
.slider-box {
  height: 400px !important;
}

/* LENIS */
html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

