<footer class="mt-12">
    <div>
        <div class="container grid-cols-4 grid">
            <div class="flex flex-col justify-between">
                <h1 class="font-bold text-h2">Support</h1>
                <p class="w-56">QTSC 9 Building, To Ky Street Ho Chi Minh City</p>
                <div class="">
                    <div>
                        <img class="inline-block mr-2" src="assets/img/mail.png" alt="">
                        <span>example@domain.com</span>
                    </div>
                    <div>
                        <img class="inline-block mr-2" src="assets/img/telephone.png" alt="">
                        <span>(84+) 123 456 78</span>
                    </div>
                </div>
            </div>
            <div>
                <h1 class="font-bold text-h2">Account</h1>
                <div class="mt-2">
                    <p>My Account</p>
                    <p>Login</p>
                    <p>Cart</p>
                    <p>Wislish</p>
                    <p>Shop</p>
                </div>
            </div>

            <div>
                <h1 class="font-bold text-h2">Quick Link</h1>
                <div class="mt-2">
                    <p>About Us</p>
                    <p>Privacy Policy</p>
                    <p>Terms Of Use</p>
                    <p>Contact</p>
                </div>
            </div>
            <div>
                <h1 class="font-bold text-h2">Follow Us</h1>
                <div class="mt-2">
                    <div class="flex gap-4">
                        <img src="./assets/img/facebook (2) 1.png" alt="">
                        <img src="./assets/img/instagram 1.png" alt="">
                        <img src="./assets/img/linkedin 1.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>