mixin list(icon,text)
    li.group.list-none.flex.items-center.gap-5.py-3.px-6.rounded-lg.transition.duration(class='hover:bg-white')
        ion-icon(name=icon).text-white.text-lg(class='group-hover:text-primary')
        a(href="").text-white.text-xs.fw-500(class='group-hover:text-primary')=text