footer.footer 
  .footer-copyright 
    p © 2023. All rights reserved
  .footer-brand 
    span Accept For
    each val in [1,2,3,4]
      .footer-item
        img(srcset="./images/footer/1.png 2x", alt="brand")
script(src="./js/dashboard.js") 
script(src="./js/category.js") 
script(src="./js/product.js") 
script(src="./js/account.js") 
script(src="./js/order.js")