extend ./views/layout/dashboard
block title
  title Comment Detail
append stylesheet
  link(rel="stylesheet", href="./css/comment-dt.css")
block main
  h1.title Comment
  +filter()
  include ./views/modules/comment-dt/comment-dt

